    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('main.user', username=post.author.username) }}">
                            {{ post.author.username }}
                        </a>
                    </span>
                {% endset %}
                {{ _("%(username)s talked about %(company)s's %(product)s %(when)s",
                    username=user_link, company=post.company, product=post.product, when=moment(post.timestamp).fromNow()) }}
                <br>
                <span id="post{{ post.id }}">{{ post.body }}</span>
                {% if post.language and post.language != g.locale %}
                <br><br>
                <span id="translation{{ post.id }}">
                    <a href="javascript:translate(
                                '#post{{ post.id }}',
                                '#translation{{ post.id }}',
                                '{{ post.language }}',
                                '{{ g.locale }}');">{{ _('Translate') }}</a>
                </span>
                <span id="edit{{ post.id }}">
                    <a href="{{ url_for('main.edit_post', post=post.id) }}">Edit</a>
                </span>
                <span id="delete{{ post.id }}">
                    <a href="{{ url_for('main.delete_post', post=post.id) }}">Delete</a>
                </span>
                <span id="favourite{{ post.id }}">
                    <a href="{{ url_for('main.favourite_post', post=post.id) }}">Favourite</a>
                </span>
                {% endif %}
            </td>
        </tr>
    </table>
